/*-------------Geral-Layout-------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color: #ecf0f1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

/*-------------Formulario-------------*/

header{
    background-color: #0a3d62de;
    text-align: center;
    width: 100%;
    padding: 30px 0px;
}

.voltar{
    position: absolute;
    top: 30px;
    left: 20px;
    padding: 10px 13px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
    -o-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

.voltar:hover{
    background-color: #07273dde;
}

h1{
    color: #fff;
}

legend{
    color: #07314efb;
    font-size: 22px;
    margin: 20px 0px 20px 40px;
    width: 60%;
    border-bottom: 2px solid #0a3d6277;
}

.nome{
    border: 2px solid #0a3d62d7;
    padding: 5px 3px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.nome:focus{
    width: 130%;
    border-color: #1278c2d7;
}

label{
    cursor: pointer;
    display: inline-block;
}

p{
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

.button{
    padding: 60px;
    display: flex;
    justify-content: center;
}

button{
    cursor: pointer;
    padding: 20px 40px;
    border-radius: 24px;
    outline: none;
    border: 2px solid #0a3d6277;
    color: #07314efb;
    font-size: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315), -2px -2px 3px rgba(0, 0, 0, 0.315);
}

button:hover{
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.315), inset -2px -2px 3px rgba(0, 0, 0, 0.315);
}

.radio{
    cursor: pointer;
    vertical-align: middle;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #0097e6;
    border-radius: 50%;
    position: relative;
    outline: none;
}

.radio:focus{
    box-shadow: 1px 1px 5px #0096e67c,-1px -1px 5px #0096e67c;
}

.radio::before{
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #0097e6;
    border-radius: 50%;
    content: '';
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.radio:checked:before{
    opacity: 1;
}

#formulario-pesquisa-primaria{
    animation: aparecer 0.6s ease-in;
}

@media screen and (max-width: 500px){
    header{
        display: flex;
        flex-direction: column;
    }
    .voltar{
        position: inherit;
        display: inline-block;
        width: 40px;
        margin: auto;
        height: 40px;
        margin-bottom: 20px;
    }
}

@keyframes aparecer{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }

    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}